@import url('https://googleapis');
header, footer{
    text-align: center;
    background-color: rgb(96, 154, 96);
    padding: 1rem;
    font-family: "Oswald", sans-serif;
}
footer{
    font-size: large;
}
body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
nav{
    justify-content: space-around;
    display: flex;
    background-color: rgb(67, 121, 128);  
}
nav a{
    color: black;    
    display: block;
}
nav a:hover {
    background-color: antiquewhite;
    color: black;
}
#summary{
    cursor: pointer;
    font-weight: bold;
} 
