@import url('https://googleapis.com');
nav{
    justify-content: space-around;
    display: flex;
    background-color: steelblue;
    
}
nav a{
    color: black;    
    display: block;
}
nav a:hover {
    background-color: antiquewhite;
    color: black;
}

/*main{
    max-width: fit-content;
    justify-content: space-around;
    display: grid;
}
.main{
    flex-direction: column;
}
.card{
    display: grid;
}
.card header {
    padding: 2rem;
    grid-column: 1/4;
}
.card section{
    padding: 2rem;
    grid-column: 1/4;
}
.header{
   margin: 0 auto;
   max-width: 800pc;
}
.span header{
    display: block;
}*/
*{
    margin: 5px;
    box-sizing: border-box;

}
body{
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-style: normal;
}
header{
    background-color: rgb(96, 154, 96);
}
.card{
    text-align: justify;
    border: black solid;
    float: left;
    width: 49%;
    /*grid-column: 1/3;
    /*grid-column: 2/3;*/
    /*grid-row: 1/1;*/
}
.right{
    text-align: justify;
    border: black solid;
    float: right;
    width: 49%;
    height: auto;
}

footer{
    background-color: rgb(96, 154, 96);
}
.main{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    /*flex: 1;
    display: flex;*/
}
.personal{
    margin: 1rem;
    padding: 1rem;
    position:relative;
}
.personal img{
    width: 200px;
    height: auto;
    border: 1px solid black;
    float: right;
}
.flag img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    float: left;
}
.card h2{
    text-align: center;
    background-color: rgb(96, 154, 96);
}
.right h2{
    text-align: center;
    background-color: rgb(96, 154, 96);
}
.card h3{
    text-align: center;
    text-decoration: underline;
}
