@media screen and (min-width: 760px){
    .navigation{
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    .navigation li {
        text-align: center;
        display: block;
        justify-content: space-around;
        color: black;
    }
    .res-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        padding: 60px;
        background-color: rgb(175, 196, 180);
    }
    .res-grid img{
        width: 70%;
        height: 70%;
    }
    .figcaption{
        text-align: center;
    }
}