:root{
    background-color: rgb(4, 63, 4);
    font-family: "Oswald"
}
header, footer{
    text-align: center;
    background-color: rgb(96, 154, 96);
    padding: 1rem;
}
footer{
    font-size: large;
}
section h3{
    background-color: rgb(96, 154, 96);
}
body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px){
    .info{
        width: 300px;
        background-color: aliceblue;
        border: 5px solid black;
        padding: 15px;
        margin: 20px 0;
        border-radius: 4px;
        box-sizing: border-box;
        place-items: center;
        text-align: center;
    }
    .info h3{
        background-color: #f0f8ff8d;
    }
    .weather{
        width: 300px;
        background-color: aliceblue;
        border: 5px solid black;
        padding: 15px;
        margin: 20px 0;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
    }   
    .weather img{
        align-content: center;
    }
    }

.hero img{
    width: 100%;
    height: auto;
}