.navigation{
    display: block;
}
.navigation a {
    text-align: center;
    display: block;
    justify-content: space-around;
}

.temples{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.temples img{
    width: auto;
    height: auto;
    object-fit: cover;
}