*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
}
footer{
    background-color: rgb(96, 154, 96);
    justify-content: space-around;
}
header{
    text-align: left;
    background-color: rgb(96, 154, 96);
}
.navigation a:hover,
.navigation a:active{
    background-color: antiquewhite;
}
#menu{
    display:block;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}
#menu::before{
    content: "-";
}
#menu.show::before {
    content: "X";
}
nav{
    background-color: rgb(96, 154, 96);
}
.navigation{
    list-style: none;
    margin:0 auto;
    max-width: 760px;
}
.navigation li{
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: right;
    text-decoration: none;
    background-color: rgb(96, 154, 96);
    color: black;
    font-weight: 700;
    transition: 0.5s;
}
.show li{
    display: block;
}
figure{
    display: block;
    padding: 2rem;
    max-width: 100%;
    width: 100%;
    height: auto;
}
figcaption{
    text-align: center;
}