*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
}
footer{
    background-color: rgb(96, 154, 96);
    text-align: center;
}
header{
    text-align: left;
    background-color: rgb(96, 154, 96);
}
.navigation a:hover{
    background-color: antiquewhite;
}

@media screen and (max-width: 768px){
    #menu{
        display:block;
        font-size: 2rem;
        color: white;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
    }   
    .images .figcaption{
        text-align: center;
    }
    .images img{
        display: grid;
        max-width: 100%;
        height: auto;
    }
    #menu::before{
        content: "-";
    }
    #menu.show::before{
        content: "X";
    }
    nav{
        background-color: rgb(96, 154, 96);
    }
    .navigation{
        list-style: none;
        margin:0 auto;
        max-width: 760px;
    }
    .navigation li{
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        background-color: steelblue;
        color: black;
        font-weight: 700;
    }
    .show li{
        display: block;
    }
}    
