.navigation{
    display: block;
}
.navigation a {
    text-align: center;
    display: block;
    justify-content: space-around;
}
.navigation a:hover{
    background-color: antiquewhite;
}
.temples img{
    grid-template-rows: repeat(3, 1fr);
}